<%= form_with(model: quote) do |form| %>
  <% if quote.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>
      <ul>
        <% quote.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="grid">
    <div>
      <%= form.label :owner_identifier, "Select a Prospect or Customer" %>
      <%= form.select :owner_identifier, grouped_options_for_select(@grouped_options, params.dig(:quote, :owner_identifier)), prompt: "Choose..." %>
    </div>
    <div>
      <%= form.label :expiration_date %>
      <%= form.date_field :expiration_date, value: quote.expiration_date || 7.days.from_now.to_date %>
    </div>
  </div>


  <fieldset>
    <legend>Quote Options (up to 3)</legend>
    <div data-controller="dynamic-form">
      <%= form.fields_for :quote_items do |item_form| %>
        <article>
          <div class="grid">
            <div>
              <%= item_form.label :machine_make %>
              <%= item_form.select :machine_make, Machine::MACHINE_MAKES, { prompt: 'Select a make' }, 
                                    { data: { action: "change->dynamic-form#toggleModelField" } } %>
            </div>
            <div data-dynamic-form-target="modelContainer">
              <%= item_form.label :machine_model %>
              <%= item_form.text_field :machine_model %>
            </div>
          </div>
          <div class="grid">
             <div>
              <%= item_form.label :bin_make %>
              <%= item_form.select :bin_make, Machine::MACHINE_MAKES, { prompt: 'Select a make' } %>
            </div>
            <div>
              <%= item_form.label :bin_model %>
              <%= item_form.text_field :bin_model %>
            </div>
          </div>
          <div class="grid">
            <div>
              <%= item_form.label :ice_production, "Ice Production (lbs/day)" %>
              <%= item_form.text_field :ice_production %>
            </div>
            <div>
              <%= item_form.label :ice_storage, "Ice Storage (lbs)" %>
              <%= item_form.text_field :ice_storage %>
            </div>
            <div>
              <%= item_form.label :lease_rate, "Lease Rate" %>
              <%= item_form.text_field :lease_rate, placeholder: "e.g., $250 / mo" %>
            </div>
          </div>
        </article>
      <% end %>
    </div>
  </fieldset>

  

  <div style="margin-top: 1rem;">
    <%= form.submit %>
  </div>
<% end %>