<h2>Edit <%= resource_name.to_s.humanize %></h2>
<article>
  <header><strong>Google Calendar Integration</strong></header>
  <% if current_user.google_access_token.present? %>
    <p style="color: green;">
      ✓ Your account is connected to Google Calendar.
    </p>
    <%= button_to "Disconnect from Google", google_connection_path, 
                  method: :delete,
                  form: { data: { turbo_confirm: "Are you sure? This will stop syncing with Google Calendar and Gmail." } },
                  class: "secondary"
    %>
  <% else %>
    <p>Connect your account to sync jobs with Google Calendar and view client communications from Gmail.</p>
    <%= link_to "Connect to Google Calendar", user_google_oauth2_omniauth_authorize_path, 
                role: "button", 
                data: { turbo: "false" } 
    %>
  <% end %>
</article>
  <hr>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <h3>Profile Information</h3>

  <div>
    <%= f.label :gmail_alias, "Gmail Alias for Sending" %>
    <small>Enter the verified 'Send mail as' alias you want to use for outgoing emails.</small>
    <%= f.email_field :gmail_alias, placeholder: "e.g., your-franchise@iceworksus.com" %>
  </div>

  <div>
    <%= f.label :owner_name %>
    <%= f.text_field :owner_name %>
  </div>
  
  <div>
    <%= f.label :franchise_location %>
    <%= f.text_field :franchise_location %>
  </div>

  <div>
    <%= f.label :time_zone %>
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all, {}, { class: 'form-control' } %>
  </div>

  <div>
    <%= f.label :franchise_phone %>
    <%= f.text_field :franchise_phone %>
  </div>

  <fieldset>
    <legend>Address</legend>
    <div>
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>
    <div class="grid"> 
      <div>
        <%= f.label :city %>
        <%= f.text_field :city %>
      </div>
      <div>
        <%= f.label :state %>
        <%= f.text_field :state %>
      </div>
      <div>
        <%= f.label :zip_code %>
        <%= f.text_field :zip_code %>
      </div>
    </div>
  </fieldset>

  <hr>
<h3>Security</h3>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you do not want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
