<%= form_with(model: [@customer, @machine, @job]) do |form| %>
  <% if job.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :scheduled_date_time, style: "display: block" %>
    <%= form.datetime_field :scheduled_date_time %>
  </div>

  <div>
    <%= form.label :completed_date_time, style: "display: block" %>
    <%= form.datetime_field :completed_date_time %>
  </div>

  <div>
    <%= form.label :job_type %>
    <%= form.select :job_type, Job.job_types.keys.map { |k| [k.humanize.titleize, k] } %>
  </div>

  <div>
    <%= form.label :status %>
    <%= form.select :status, Job.statuses.keys.map { |k| [k.humanize.titleize, k] } %>
  </div>

  <div>
    <%= form.label :contractor_notes, style: "display: block" %>
    <%= form.textarea :contractor_notes %>
  </div>

  <div>
    <%= form.label :internal_notes, style: "display: block" %>
    <%= form.textarea :internal_notes %>
  </div>

  <div>
    <%= form.label :customer_id, style: "display: block" %>
    <%= form.text_field :customer_id %>
  </div>

  <div>
    <%= form.label :machine_id, style: "display: block" %>
    <%= form.text_field :machine_id %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :contractor_id %>
    <%= form.collection_select :contractor_id, Contractor.all, :id, :name, prompt: "Select a contractor" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
