<div id="<%= dom_id job %>">
  <p>
    <strong>Scheduled date time:</strong>
    <%= job.scheduled_date_time %>
  </p>

  <p>
    <strong>Completed date time:</strong>
    <%= job.completed_date_time %>
  </p>

  <p>
    <strong>Job type:</strong>
    <%= job.job_type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= job.status %>
  </p>

  <p>
    <strong>Contractor notes:</strong>
    <%= job.contractor_notes %>
  </p>

  <p>
    <strong>Internal notes:</strong>
    <%= job.internal_notes %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= job.customer_id %>
  </p>

  <p>
    <strong>Machine:</strong>
    <%= job.machine_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= job.user_id %>
  </p>

  <p>
    <strong>Contractor:</strong>
    <%= job.contractor_id %>
  </p>

</div>
