

<p style="color: green"><%= notice %></p>

<h1>Jobs for Machine: <%= @machine.machine_model %></h1>
<h3>(<%= link_to @machine.customer.business_name, @customer %>)</h3>


<div id="jobs">
  <% @jobs.each do |job| %>
    <%= render job %>
    <p>

      <%= link_to "Show this job", customer_machine_job_path(@customer, @machine, job) %>
    </p>
  <% end %>
</div>


<%= link_to "New job for this machine", new_customer_machine_job_path(@customer, @machine) %>