<div id="<%= dom_id customer %>">
  <p>
    <strong>Business name:</strong>
    <%= customer.business_name %>
  </p>

  <p>
    <strong>Street address:</strong>
    <%= customer.street_address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= customer.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= customer.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= customer.zip %>
  </p>

  <p>
    <strong>Main contact name:</strong>
    <%= customer.main_contact_name %>
  </p>

  <p>
    <strong>Main contact phone:</strong>
    <%= customer.main_contact_phone %>
  </p>

  <p>
    <strong>Main contact email:</strong>
    <%= customer.main_contact_email %>
  </p>

  <p>
    <strong>Customer since:</strong>
    <%= customer.customer_since %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= customer.status %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= customer.notes %>
  </p>

  <p>
    <strong>User:</strong>
    <%= customer.user_id %>
  </p>

</div>
