<header style="display: flex; justify-content: space-between; align-items: center;">
  <h1>Customers</h1>
  <%= link_to "New customer", new_customer_path, role: "button" %>
</header>

<article>
  <form action="<%= customers_path %>" method="get">
    <div class="grid">
      <input type="search" id="query" name="query" placeholder="Search by name, contact, city..." value="<%= params[:query] %>">
      <button type="submit">Search</button>
    </div>
  </form>
</article>

<div class="overflow-auto"> 
  <table role="grid">
    <thead>
      <tr>
        <th>Business Name</th>
        <th>Main Contact</th>
        <th>Status</th>
        <th>City, State</th>
        <th></th> 
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><strong><%= link_to customer.business_name, customer %></strong></td>
          <td><%= customer.main_contact_name %></td>
          <td><%= customer.status %></td>
          <td><%= "#{customer.city}, #{customer.state}" %></td>
          <td>
            <div role="group">
              <%= link_to "View", customer, class: "secondary outline" %>
              <%= link_to "Edit", edit_customer_path(customer), class: "secondary outline" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <nav><%== pagy_nav(@pagy) %></nav>
</div>