<p style="color: green"><%= notice %></p>

<%= render @customer %>

<div>
  <%= link_to "View All Machines for this Customer", customer_machines_path(@customer), style: "font-weight: bold; margin-right: 10px;" %>
  <%= link_to "Add New Machine", new_customer_machine_path(@customer), style: "font-weight: bold;" %>
</div>
<br>
<div>
  <%= link_to "Edit this customer", edit_customer_path(@customer) %> |
  <%= link_to "Back to customers", customers_path %>

  <%= button_to "Destroy this customer", @customer, method: :delete %>
</div>

