<p style="color: green"><%= notice %></p>

<header style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 2rem;">
  <h1>Contractors</h1>
  <%= link_to "New Contractor", new_contractor_path, role: "button" %>
</header>


<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 1rem;">
  <% @contractors.each do |contractor| %>
    <article>
      <header>
        <strong><%= contractor.name %></strong>
      </header>
      <p>Phone: <%= contractor.phone_number %></p>
      <footer>
        <%= link_to "View Details", contractor, class: "secondary outline" %>
        <%= link_to "Edit", edit_contractor_path(contractor), class: "secondary outline" %>
      </footer>
    </article>
  <% end %>
</div>

<br>
<nav><%== pagy_nav(@pagy) %></nav>