<div id="<%= dom_id prospect %>">
  <p>
    <strong>Contact name:</strong>
    <%= prospect.contact_name %>
  </p>

  <p>
    <strong>Business name:</strong>
    <%= prospect.business_name %>
  </p>

  <p>
    <strong>Business location:</strong>
    <%= prospect.business_location %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= prospect.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= prospect.phone %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= prospect.notes %>
  </p>

  <p>
    <strong>Business type:</strong>
    <%= prospect.business_type %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= prospect.hours %>
  </p>

  <p>
    <strong>Ice usage:</strong>
    <%= prospect.ice_usage %>
  </p>

  <p>
    <strong>Ice shape:</strong>
    <%= prospect.ice_shape %>
  </p>

  <p>
    <strong>Seating capacity:</strong>
    <%= prospect.seating_capacity %>
  </p>

  <p>
    <strong>Special circumstances:</strong>
    <%= prospect.special_circumstances %>
  </p>

  <p>
    <strong>User:</strong>
    <%= prospect.user_id %>
  </p>

</div>
