<div id="<%= dom_id lease_agreement %>">
  <p>
    <strong>Lease start date:</strong>
    <%= lease_agreement.lease_start_date %>
  </p>

  <p>
    <strong>Lease end date:</strong>
    <%= lease_agreement.lease_end_date %>
  </p>

  <p>
    <strong>Lease rate:</strong>
    <%= lease_agreement.lease_rate %>
  </p>

  <p>
    <strong>User:</strong>
    <%= lease_agreement.user_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= lease_agreement.customer_id %>
  </p>

  <p>
    <strong>Machine:</strong>
    <%= lease_agreement.machine_id %>
  </p>

</div>
