<div id="<%= dom_id machine %>">
  <p>
    <strong>Machine make:</strong>
    <%= machine.machine_make %>
  </p>

  <p>
    <strong>Machine model:</strong>
    <%= machine.machine_model %>
  </p>

  <p>
    <strong>Machine serial number:</strong>
    <%= machine.machine_serial_number %>
  </p>

  <p>
    <strong>Machine type:</strong>
    <%= machine.machine_type %>
  </p>

  <p>
    <strong>Bin make:</strong>
    <%= machine.bin_make %>
  </p>

  <p>
    <strong>Bin model:</strong>
    <%= machine.bin_model %>
  </p>

  <p>
    <strong>Bin serial number:</strong>
    <%= machine.bin_serial_number %>
  </p>

  <p>
    <strong>Purchase date:</strong>
    <%= machine.purchase_date %>
  </p>

  <p>
    <strong>Install date:</strong>
    <%= machine.install_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= machine.status %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= machine.customer_id %>
  </p>

</div>
