

<p style="color: green"><%= notice %></p>
<p style="color: green"><%= notice %></p>


<% if @customer.present? %>
  <%# This is the nested view for a specific customer %>
  <% content_for :title, "Machines for #{@customer.business_name}" %>
  <h1>Machines for <%= @customer.business_name %></h1>
<% else %>
  <%# This is the top-level "All Machines" view %>
  <% content_for :title, "All Machines" %>
  <h1>All Machines</h1>
  <p>Showing all machines across all customers.</p>
<% end %>


<div id="machines">
  <% @machines.each do |machine| %>

    <%= render machine %>
    <p>

      <%= link_to "Show this machine", customer_machine_path(machine.customer, machine) %>
    </p>
  <% end %>
</div>



<% if @customer.present? %>
  <%= link_to "New machine for this customer", new_customer_machine_path(@customer) %>
  <br>
  <%= link_to "Back to customer", @customer %>
<% end %>