

<header style="display: flex; justify-content: space-between; align-items: center;">

  <% if @customer.present? %>
    <h1>Machines for <%= @customer.business_name %></h1>
    <%= link_to "New Machine", new_customer_machine_path(@customer), role: "button" %>
  <% else %>
    <h1>Machines</h1>

  <% end %>
</header>


<% unless @customer.present? %>
  <article>
    <form action="<%= machines_path %>" method="get">
      <div class="grid">
        <input type="search" name="query" placeholder="Search by make, model, serial, or customer..." value="<%= params[:query] %>">
        <button type="submit">Search</button>
      </div>
    </form>
  </article>
<% end %>



<div class="overflow-auto">
  <table>
    <thead>
      <tr>
        <th>Customer</th>
        <th>Make & Model</th>
        <th>Serial Number</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @machines.each do |machine| %>
        <tr>
          <td>
            <strong><%= link_to machine.customer.business_name, machine.customer %></strong>
          </td>
          <td><%= machine.machine_make %> <%= machine.machine_model %></td>
          <td><%= machine.machine_serial_number %></td>
          <td><%= machine.status %></td>
          <td>
            <div role="group">

              <%= link_to "View", customer_machine_path(machine.customer, machine), class: "secondary outline" %>
              <%= link_to "Edit", edit_customer_machine_path(machine.customer, machine), class: "secondary outline" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <nav><%== pagy_nav(@pagy) %></nav>
</div>