<p style="color: green"><%= notice %></p>

<h1>Machine: <%= @machine.machine_model %></h1>
<p><%= link_to "Schedule a new job for this machine", new_customer_machine_job_path(@customer, @machine), role: "button" %></p>
<%= render @machine %>


<div>
  <%= link_to "Edit this machine", edit_customer_machine_path(@customer, @machine) %> |
  <%= link_to "Back to customer's machines", customer_machines_path(@customer) %>
  <%= button_to "Destroy this machine", [@customer, @machine], method: :delete %>
</div>

