<p style="color: green"><%= notice %></p>

<%= render @machine %>
<p>
  <%= link_to "Schedule a new job for this machine", new_customer_machine_job_path(@customer, @machine) %>
</p>

<div>
  <%= link_to "Edit this machine", edit_machine_path(@machine) %> |
  <%= link_to "Back to machines", machines_path %>

  <%= button_to "Destroy this machine", @machine, method: :delete %>
</div>

