<nav class="main-nav">
  
  <div class="nav-left">
    <%= link_to root_path, class: "nav-logo" do %>
      <%= image_tag "logo.svg" %>
      <strong class="desktop-only">iceBox</strong>
    <% end %>

    <div class="desktop-links">
      <% if user_signed_in? %>
        <%= link_to "Dashboard", root_path %>
        <%= link_to "Customers", customers_path, class: "highlight-link" %>        
        <%= link_to "Contractors", contractors_path, class: "highlight-link" %>
        <%= link_to "Jobs", jobs_path %> 
        <%= link_to "Machines", machines_path %>
        <%= link_to "Leases", lease_agreements_path %>     
        <%= link_to "Boneyard", boneyard_machines_path %>
        <%= link_to "Prospects", prospects_path, class: "highlight-link" %>           
        <%= link_to "Lead Capture", new_prospect_path, class: "highlight-link" %>
      <% end %>
    </div>
  </div>

  <div class="nav-right">
    <% if user_signed_in? %>
      <div class="desktop-links">
        <% if current_user.admin? %>
            <%= link_to "Admin", admin_root_path %>
        <% end %>
        <%= link_to current_user.email, edit_user_registration_path %>
        <%= button_to "Log Out", destroy_user_session_path, method: :delete, form_class: "logout-form-inline" %>
      </div>

      <div class="mobile-dropdown">
        <button class="hamburger-button">☰</button>
        <div class="mobile-dropdown-content">
          <%# --- ADDED LEASE AGREEMENTS AND STANDARDIZED TEXT --- %>
          <%= link_to "Dashboard", root_path %>
          <%= link_to "Customers", customers_path %>
          <%= link_to "Machines", machines_path %>
          <%= link_to "Boneyard", boneyard_machines_path %>
          <%= link_to "Jobs", jobs_path %>
          <%= link_to "Contractors", contractors_path %>
          <%= link_to "Prospects", prospects_path %>
          <%= link_to "Lease Agreements", lease_agreements_path %>
          <%= link_to "Lead Capture", new_prospect_path %>
          <hr>
          <% if current_user.admin? %>
            <%= link_to "Admin", admin_root_path %>
          <% end %>
          <%= link_to "Edit Profile", edit_user_registration_path %>
          <%= button_to "Log Out", destroy_user_session_path, method: :delete %>
        </div>
      </div>
    <% end %>
  </div>
</nav>