<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Franchise CRM" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

    <%= yield :head %>

    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
  </head>

  <body>



    <main class="container" style="max-width: 500px; margin-top: 5rem; text-align: center;">
      

      <div>

        <%= link_to new_user_session_path do %>
          <%= image_tag "logo.svg", style: "height: 60px; width: auto; margin-bottom: 2rem;" %>
        <% end %>
      </div>
      

      <% if notice %>
        <div class="notice" style="background-color: #d4edda; color: #155724; padding: 1rem; border-radius: 0.25rem; margin-bottom: 1rem; text-align: left;">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert" style="background-color: #f8d7da; color: #721c24; padding: 1rem; border-radius: 0.25rem; margin-bottom: 1rem; text-align: left;">
          <%= alert %>
        </div>
      <% end %>


      <%= yield %>
    </main>
  </body>
</html>