<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Franchise CRM" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# Render our single, consolidated top navigation bar %>
    <%= render 'layouts/navigation' %>

    <%# The main content area now takes up the full page width %>
    <main class="container">
      <% if notice %><p class="notice"><%= notice %></p><% end %>
      <% if alert %><p class="alert"><%= alert %></p><% end %>
      <%= yield %>
    </main>
  </body>
</html>